# frozen_string_literal: true

module RubyUIAdmin
  module Cards
    class <%= class_name %> < RubyUIAdmin::Cards::MetricCard
      self.label = "<%= human_name %>"

      def query
        # e.g. User.count
        0
      end
    end
  end
end
